button{
	border: none;
	outline: none;
	background-color: transparent;
}
.btn-general {
	text-transform: capitalize;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 45px;
	color: $light-color;
	background: $secondary-design-color;
	border-radius: 4px;
	font-size: $fs-sm;
	transition: $transition;
	&.btn-green{
		background-color: $red-color;
		&:hover{
			background-color: $secondary-design-color;
		}
	}
a{
	color: $light-color;
}
	&:hover {
		color: $light-color;
		background-color:$red-color;
		transform: scale(1.01);
	}
}

.btn-outline {
	background-color: transparent;
	color: $secondary-design-color;
	border: 1px solid $secondary-design-color;
}

.btn-xs {
	width: 40px;
	height: 40px;
	border-radius: 3px;
}

.btn-sm {
	width: 130px;
}

.btn-md {
	width: 150px;
}

.btn-lg {
	width: 250px;
	font-size: $fs-sm;
}

.btn-xl {
	width: 330px;
	font-size: $fs-lg;
}


.sidebar-btn {
	display: none;
	font-size: $fs-md;
	font-weight: 600;
	padding: 10px;
	margin-left: 20px;

	span {
		background-color:#F2F2F2;
		color: $secondary-design-color;
		border-radius: 5px;
		padding: 10px 20px;
		font-weight: 500;
		display: inline-block;
		transition: $transition;

		&:hover {
			background-color: $secondary-design-color;
			color: $light-color;
			animation: pulse-primary 1.3s;
		}

		i {
			margin-right: 5px;
		}
	}
}

.upload-btn {
	border: 1px solid $secondary-design-color;
	color: $secondary-design-color;
	text-transform: capitalize;
	padding: 12px 37px;
	font-weight: 600;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 48px;
	margin-right: 15px;
	border-radius: 4px;
	position: relative;
	transition: var(--transition);

	&:hover {
		background-color: $secondary-design-color;
		color: $light-color;
	}

	input {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		font-size: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}
}

.pagination {
	margin-top: 12px;
	display: flex;
	justify-content: center;

	.page-item {
		.page-link {
			color: $dark-color-3;
			width: 48px;
			height: 48px;
			border-radius: 3px;
			background-color: transparent;
			display: flex;
			align-items: center;
			justify-content: center;
			border: none;
			border-radius: 5px;
			box-shadow: none;
			transition: var(--transition);

			&:hover {
				color: $secondary-design-color;
			}
		}

		&:first-child,&:last-child {
			.page-link {
				color: $dark-color;
				transition: $transition;
				background-color: $light-color;
				border-radius: 20px;

				&:hover {
					color: $secondary-design-color;
				}
			}
		}
	}

	.page-item.active {
		border-radius: 5px;
		background-color: $secondary-design-color;

		.page-link {
			color: var(--text-light-1);
		}
	}
}