/*==============================
             Font
============================== */
@import "https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap";
@import "https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap";


:root {
	--primary-bg-color: #FFE8D0;
	--secondary-bg-color: #F2F2F2;
	--light-bg-color: #FFFFFF;
	--secondary-design-color: $secondary-design-color;
	--font-family-1: 'Nunito';
	--font-family-2: 'Lexend Deca';
	--font-size-xs: 14px;
	--font-size-sm: 16px;
	--font-size-md: 20px;
	--text-light-1: #FFFFFF;
	--text-dark-color-1: #333333;
	--border-light-1: 1.7px solid #F2F2FF;
	--border-blue-1: 1.7px solid $secondary-design-color;
	--transition: all .5s ease;
}

/* ==============================
        Global Styles
============================== */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: 400;
}

body {
	overflow-x: hidden;
	background-color: $primary-design-color;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

.round-20 {
	border-radius: 20px !important; 
}

.round-40 {
	border-radius: 40px;
}

.round-50 {
	border-radius: 50% !important;
}

.mb-50 {
	margin-bottom: 50px;
}

.mb-70 {
	margin-bottom: 70px;
}

.mb-30 {
	margin-bottom: 30px;
}
.mb-15{
	margin-bottom: 15px;
}
.me-30 {
	margin-right: 30px;
}

.mt-45 {
	margin-top: 45px;
}

.mt-65 {
	margin-top: 65px;
}

.pb-100 {
	padding-bottom: 100px;
}

.pb-50 {
	padding-bottom: 50px;
}

.pt-90 {
	padding-top: 90px;
}

.py-50 {
	padding: 50px 0;
}

.p-20 {
	padding: 20px !important;
}

/* SCROLLBAR */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: $light-color;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: $secondary-design-color;
	;
}

::-webkit-scrollbar-track {
	background: $light-color;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: $secondary-design-color;
}

.copy-link {
	position: relative;

	button {
		position: absolute;
		right: 4px;
		bottom: 4px;
		top: 4px;
	}

	input {
		padding-left: 15px;
		height: 48px;
		padding-right: 48px;
		color: rgba(0, 0, 0, 0.38);
		border-radius: 3px;
		border: 1px solid #E1E1E1;
	}
}

.social-links {
	display: flex;
	align-items: center;

	i {
		color: #989898;
		margin-right: 13px;
		font-size: $fs-md;
		transition: $transition;

		&:hover {
			color: $secondary-design-color;
		}
	}
}

.switch {
	position: relative;
	width: 34px;
	height: 14px;
	margin-right: 10px;
	display: inline-block;

	input {
		opacity: 0;
		width: 0;
		height: 0;
		display: none;

		&:checked+.slider {
			background: rgba(42, 65, 232, 0.38);

			&:before {
				transform: translateX(15px);
				background-color: $secondary-design-color;
			}
		}
	}

	.slider {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		cursor: pointer;
		background-color: #eee;
		transition: $transition;
		border-radius: 10px;

		&:before {
			position: absolute;
			content: "";
			height: 20px;
			width: 20px;
			left: 0;
			border-radius: 50%;
			bottom: -3.3px;
			background-color: $light-color;
			transition: $transition;
		}
	}
}

.rate-list {
	@include flex-align;

	li {
		label {
			@include flex-align-center;
			width: 46px;
			height: 26px;
			background: $light-color;
			cursor: pointer;
			margin-right: 10px;
			border: 2px solid #F2F2FF;
			border-radius: 4px;
			transition: $transition;

			span {
				font-size: 13px;
			}


			&:hover,
			&.active {
				background-color: $secondary-design-color;
				color: $light-color;
				border-color: $secondary-design-color;
			}
		}

		input {
			display: none;
		}

		&:last-child {
			label {
				margin: 0;
			}
		}
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.form-control {
	box-shadow: none !important;
	outline: none !important;
}

.sub-title {
	font-weight: 600;
	text-transform: capitalize;
	font-size: $fs-xl;
	letter-spacing: 0.15px;
	color: $dark-color-1;
	margin-bottom: 15px;
}


.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.08);
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	transition: $transition;

	&.show {
		opacity: 1;
		visibility: visible;
	}

}

.drop-menu {
	z-index: 23333333;
	position: absolute;
	top: 30px;
	box-shadow: $box-shadow-1;
	right: 0;
	padding-left: 10px;
	border-radius: 3px;
	width: 135px;
	background-color: $light-color;
	display: flex;
	flex-direction: column;
	transform: translateY(10px);
	opacity: 0;
	visibility: hidden;
	transition: $transition;

	&:after {
		content: "\f0d8";
		position: absolute;
		top: 0px;
		right: 20px;
		line-height: 0;
		font-family: FontAwesome;
		font-size: 24px;
		color: #fff;
		box-shadow: $box-shadow-1;
	}

	&.show {
		transform: translateY(20px);
		opacity: 1;
		visibility: visible;
	}

	a {
		font-style: normal;
		font-weight: 400;
		font-size: $fs-sm;
		line-height: $fs-xl;
		letter-spacing: 0.15px;
		color: $dark-color-3;
		padding: 5px 0 5px 5px;
		display: inline-block;
		transition: $transition;

		&:hover {
			padding-left: 6px;
		}

		&:hover,
		&.active {
			color: $secondary-design-color;
		}
	}
}

.profile-image {
	width: 104px;
	height: 104px;
	border-radius: 50%;
	margin: 20px auto;
	background-color: #C4c4c4;
	background-size: cover;
	background-position: center;
	position: relative;
}

.form-group {
	position: relative;
}

.add-skill-btn {
	position: absolute;
	top: 4px;
	bottom: 4px;
	right: 4px;
}






.copyright-wrap {
	padding-top: 20px;
	position: relative;

	&:after {
		position: absolute;
		content: '';
		left: 0;
		right: 0;
		top: 0;
		height: .4px;
		background-color: $light-color-4;
		width: 100%;
	}

	.text {
		font-weight: 400;
		font-size: $fs-sm;
		line-height: $fs-xl;
		letter-spacing: 0.15px;
		color: $dark-color-3;
	}

	.social-links {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		a {
			color: #989898;
			display: inline-block;
		}
	}
}



.post-job {
	padding: 64px 0 20px;

	.button-group {
		display: flex;
		align-items: center;

		button {
			&:first-child {
				margin-right: 10px;
			}
		}
	}

	.info {
		margin: 20px 0 40px;
		font-weight: 600;
		font-size: $fs-sm;
		line-height: $fs-xl;
		letter-spacing: 0.5px;
		font-feature-settings: 'cpsp' on;
		color: #000000;

		h6 {
			text-transform: capitalize;
		}
	}
}

.post-job-form-container {
	background-color: $light-color;
	border-radius: 5px;
	margin: 20px 0;

	.form-header {
		padding: 15px 20px;
		border-bottom: $light-color;

		.form-title {
			font-weight: 600;
			font-size: 20px;
			line-height: $fs-xl;
			letter-spacing: 0.15px;
			color: var(--text-dark-color-1);
		}
	}

	.form-body {
		padding: 15px 20px;

		.form-group {
			margin-bottom: $fs-sm;
			position: relative;
		}

		label {
			font-weight: 400;
			font-size: $fs-sm;
			text-transform: capitalize;
			line-height: $fs-xl;
			letter-spacing: 0.15px;
			color: #000;
			margin-bottom: 5px;
		}

		.form-control {
			border: 1px solid #E1E1E1;
			box-shadow: none;
			border-radius: 4px;
			font-size: 15px;
			height: 48px;

			&:focus {
				border-color: $secondary-design-color
			}

			&::placeholder {
				color: rgba(0, 0, 0, 0.38);
			}
		}

		textarea.form-control {
			border: 1px solid #E1E1E1;
			box-shadow: none;
			border-radius: 4px;
			font-size: 15px;
			height: auto;
			resize: none;

			&:focus {
				border-color: $secondary-design-color
			}
		}

		.add-skill-input {
			padding-right: 44px;
		}

		.add-skill-btn {
			font-size: var(--font-size-xs);
			position: absolute;
			top: 43%;
			right: 15px;
		}

		.desc {
			font-size: $fs-sm;
			line-height: $fs-xl;
			text-align: center;
			letter-spacing: 0.15px;
			color: rgba(0, 0, 0, 0.5);
		}
	}
}


.subscription {
	font-family: $secondary-font;

	.subscription-title {
		font-weight: 600;
		font-size: 32px;
		line-height: 40px;
		color: #000000;
		margin: 40px 0 70px;
		text-transform: capitalize;
	}

	.item {
		position: relative;
		border: 7px solid var(--text-light-1);
		background: $secondary-design-color;
		border-radius: 20px;
		height: 530px;

		.item-header {
			padding: 10px;
			font-weight: 700;
			font-size: $fs-lg;
			line-height: 30px;
			color: #FFFFFF;
			text-transform: uppercase;
			text-align: center;
			border-bottom: 4px solid #fff;
		}

		.item-content {
			padding: 10px;

			li {
				font-style: normal;
				font-weight: 600;
				font-size: $fs-sm;
				text-transform: uppercase;
				line-height: 30px;
				margin-bottom: 14px;
				color: #FFFFFF;
				margin-left: 20px;
				list-style: disc;
			}
		}

		.item-bottom {
			background-color: #fff;
			position: absolute;
			bottom: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			height: 180px;
			width: 190px;
			right: 0;
			border-radius: 150% 0 20px 0;
			text-align: center;

			.price {
				font-weight: 700;
				font-size: 30px;
				line-height: 45px;
				display: flex;
				align-items: center;
				padding-left: 30px;
				color: $secondary-design-color;

				span {
					color: #fff;
					margin-left: 10px;
					border-radius: 50%;
					width: 28px;
					font-weight: 400;
					height: 28px;
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: $fs-xs;
					background-color: $secondary-design-color;
				}
			}

			.choose-btn {
				width: 143px;
				height: 32px;
				border: 1px solid $secondary-design-color;
				font-size: 13px;
				color: $secondary-design-color;
				text-transform: capitalize;
				border-radius: 20px;
				margin-top: 20px;
			}
		}

		.preview-btn {
			font-weight: 600;
			font-size: 18px;
			line-height: 22px;
			text-decoration-line: underline;
			text-transform: uppercase;
			color: #FFFFFF;
		}
	}

	.subscription-info {
		background-color: $light-color;
		border-radius: 20px;
		padding: 20px;
		height: 530px;

		p {
			font-weight: 600;
			font-size: 22px;
			line-height: 20px;
			color: #989898;
		}

		ul {
			margin: 60px 0;

			li {
				font-weight: 600;
				font-size: $fs-md;
				color: #989898;

				span {
					color: $secondary-design-color;
				}
			}
		}
	}
}
	
.profile-section {
	font-family: $primary-font;

	.profile-info {
		background-image: radial-gradient(100% 761% at 0% 50%, #FFFFFF 0%, #F8F8F8 32.94%, rgba(255, 255, 255, 0) 100%), url('../images/bg.png');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		padding: 60px 0 20px 60px;
		height: 256px;
		box-shadow: $box-shadow-1;

		.left-info {
			.image {
				width: 122px;
				height: 128px;

				img {
					width: 100%;
					height: auto;
				}
			}
		}

		.right-info {
			.full-name {
				text-transform: capitalize;
				font-size: $fs-xl;
				letter-spacing: 0.18px;
				color: $dark-color-1;
			}

			.company-job {
				font-size: $fs-sm;
				letter-spacing: 0.15px;
				color: $dark-color-1;
				margin: 6px 0 20px;
				color: $dark-color-1;
			}

			.location {
				display: flex;
				align-items: center;

				span {
					font-weight: 500;
					font-size: $fs-sm;
					letter-spacing: 0.15px;
					color: rgba(0, 0, 0, 0.7);
				}

				img {
					margin-right: 10px;
				}
			}
		}

		.badges {
			margin: 15px 0;
			display: flex;
			align-items: center;

			.logo {
				margin-right: 20px;
			}

			span {
				font-weight: 600;
				font-size: $fs-xl;
				letter-spacing: 0.15px;
				color: $dark-color-1;
			}
		}

		.edit-content {
			.edit {
				cursor: pointer;
				border-radius: 20px;
				border: 3px solid $secondary-design-color;
				text-transform: capitalize;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				text-align: center;
				color: $secondary-design-color;
				width: 57px;
				height: 59px;
				background-color: $light-color;

				.edit-image {
					padding: 5px 0 5px;
					border-bottom: 2px solid $secondary-design-color;
				}

				span {
					display: block;
					font-size: 13px;
					font-weight: 700;
				}
			}
		}
	}

	.about-me-content {
		background-color: $light-color;
		border-radius: 20px;
		padding: 15px 14px;
		font-weight: 500;
		font-size: $fs-sm;
		line-height: $fs-xl;
		letter-spacing: 0.5px;
		color: rgba(0, 0, 0, 0.87);
	}

	.feedback-content {
		background-color: $light-color;
		border-radius: 20px;
		padding: 20px 14px;
		margin-bottom: 7px;

		&:nth-child(odd) {
			background-color: $light-color-3;
		}

		.speeker-job {
			font-size: $fs-xl;
			font-weight: 600;
			color: $dark-color-1;
		}

		.rated {
			color: $dark-color-3;
			display: block;
		}

		.date {
			position: relative;
			display: flex;
			align-items: center;
			margin-bottom: 10px;

			span {
				position: absolute;
				right: 50%;
				display: flex;
				align-items: center;
				color: $dark-color-3;
				font-size: $fs-sm;

				img {
					margin-right: 10px;
				}
			}
		}

		.rate {
			color: rgba(0, 0, 0, 0.87);
			font-style: $fs-sm;
			font-weight: 500;
		}
	}
}

.recruiter-profile {
	.recruiter-main-info {
		.edit-content {
			.edit {
				border-radius: 20px;
				border: 3px solid $secondary-design-color;
				text-transform: capitalize;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				text-align: center;
				color: $secondary-design-color;
				width: 57px;
				height: 59px;
				background-color: $light-color;

				.edit-image {
					padding: 5px 0 5px;
					border-bottom: 2px solid $secondary-design-color;
				}

				span {
					display: block;
					font-size: 13px;
					font-weight: 700;
				}
			}
		}
	}

	.active-jobs-content {
		.active-job-single {
			transition: $transition;

			&:hover {
				border-radius: 20px;
				transform: translateY(5px);
				box-shadow: $box-shadow-1;
			}

			.active-job-single-header {
				padding: 20px;
				border-radius: 20px 20px 0 0;
				background-color: $light-color;
				display: flex;
				align-items: center;

				span {
					transition: $transition;

					&:hover {
						color: $secondary-design-color;
					}
				}

				.company-image {
					width: 40px;
					height: 40px;

					img {
						width: 100%;
						height: auto;
					}
				}

				.company-info {
					margin-left: 15px;

					.company-name {
						color: #808080;
						text-transform: capitalize;
					}

					.job-title {
						color: rgba(0, 0, 0, 0.87);
						font-size: $fs-xl;
						text-transform: capitalize;
						font-weight: 600;
					}
				}
			}

			.active-job-single-footer {
				background-color: #F9F9F9;
				border-radius: 0 0 20px 20px;
				padding: 20px;
				display: flex;
				flex-wrap: wrap;
				text-transform: capitalize;

				div {
					width: 50%;
					margin-bottom: 7px;

					img {
						margin-right: 10px;
					}

					span {
						color: $dark-color-3;
						font-weight: 500;

						&:hover {
							color: $secondary-design-color;
						}
					}
				}
			}
		}
	}
}

.freelancer-profile {
	.attachments-content {

		ul {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			width: 100%;
			justify-content: space-between;

			.attachments-item {
				background-image: url('../images/icon/Attachments.png');
				text-transform: capitalize;
				padding: 15px;
				position: relative;
				width: 176px;
				border-radius: 10px;
				margin-bottom: 20px;

				.attachments-item-name {
					font-weight: 600;
					font-size: 14px;
					line-height: $fs-xl;
					letter-spacing: 0.1px;
					color: #666666;
				}

				.attachments-item-type {
					font-weight: 400;
					font-size: 14px;
					line-height: 20px;
					letter-spacing: 0.25px;
					color: #999999;
				}
			}


		}

	}

	.behance-account-link {
		font-weight: 700;
		font-size: $fs-sm;
		letter-spacing: 0.15px;
		text-decoration-line: underline;
		color: $secondary-design-color;
		display: inline-block;
		margin-bottom: 120px;
	}

	.skills-list {
		flex-wrap: wrap;
		display: flex;
		align-items: center;

		li {
			color: $secondary-design-color;
			background: rgba(42, 65, 232, 0.07);
			border-radius: 4px;
			margin-right: 7px;
			margin-bottom: 7px;
			text-transform: capitalize;
			font-size: $fs-xs;
			padding: 5px 10px;

			&:hover {
				background-color: $secondary-design-color;
				color: $light-color;
				cursor: pointer;
			}
		}
	}
}

.settings {
	font-family: $primary-font;

	padding: 40px 0;

	>* {
		font-family: $primary-font;
	}

	.my-account {
		background-color: $light-color;
		border-radius: 5px;
		margin: 30px 0 20px;
	}

	.column-heading {
		padding: 10px 14px;
		border-bottom: 1px solid $gray-color-1;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.right {
			font-weight: 600;
			font-size: $fs-xs;
			letter-spacing: 0.15px;
			color: #6D6D6D;

			span {
				font-size: $fs-xs;
				line-height: $fs-xl;
				letter-spacing: 0.15px;
				color: #000000;
			}

			label {
				font-weight: 600;
				font-size: 15px;
				line-height: $fs-xl;
				letter-spacing: 0.15px;
				color: #6D6D6D;
				display: flex;
				align-items: center;
				cursor: pointer;

				&.active {
					span {
						background-color: $secondary-design-color;
					}
				}

				span {
					display: flex;
					width: 17px;
					height: 15px;
					margin-right: 3px;
					background-color: $light-color;
					border: 2px solid $secondary-design-color;
					border-radius: 6px;

				}
			}



			input[type="radio"] {
				appearance: none;
			}
		}

		.left {
			.sub-title {
				font-style: normal;
				font-weight: 600;
				font-size: $fs-lg;
				letter-spacing: 0.15px;
				color: $dark-color-1;
			}
		}
	}

	.column-body {
		border-bottom: 1px solid $gray-color-1;
		padding: 10px 14px;

		.profile-img {
			width: 140px;
			height: 140px;
			background-color: #ccc;
			border-radius: 50%;

			img {
				width: 100%;
				height: 100%;
				border-radius: 50%;
			}
		}

	}

	.column-footer {
		padding: 10px 14px;
	}

	.form-group {
		display: flex;
		margin-bottom: 10px;
		flex-direction: column;

		label {
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;
			margin-bottom: 7px;
			letter-spacing: 0.15px;
			color: #333333;
		}

		textarea {
			background: #FFFFFF;
			border: 1px solid #E1E1E1;
			border-radius: 4px;
			width: 100%;
			padding: 20px;
		}

		.form-control {
			background: #FFFFFF;
			border: 1px solid #E1E1E1;
			border-radius: 4px;
			height: 48px;
			width: 100%;

			&::placeholder {
				font-size: 16px;
				line-height: 24px;
				letter-spacing: 0.15px;
				color: rgba(0, 0, 0, 0.38);
			}
		}
	}

	.my-profile-body {
		.add-skills {
			position: relative;

			.add-btn {
				position: absolute;
				right: 5px;
				top: 50%;
				transform: translateY(-50%);
				background-color: $secondary-design-color;
				color: #fff;
				border-radius: 3px;
				width: 40px;
				height: 40px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}

		.skills-field {
			margin-top: 20px;

			ul {
				display: flex;
				align-items: center;
				flex-wrap: wrap;

				.skill-name {
					margin-bottom: 10px;
					padding: 4px 8px;
					height: 32px;
					font-weight: 600;
					font-size: 14px;
					line-height: 24px;
					letter-spacing: 0.1px;
					color: $secondary-design-color;
					background: rgba(42, 65, 232, 0.07);
					border-radius: 4px;
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin-right: 10px;
				}

				li {
					i.delete-btn {
						cursor: pointer;
						margin-right: 10px;
					}
				}
			}
		}
	}

	.upload-items {
		ul {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			width: 100%;

			.upload-item {
				background-image: url('../images/icon/Attachments.png');
				text-transform: capitalize;
				padding: 15px;
				position: relative;
				width: 180px;
				border-radius: 10px;
				margin-right: 10px;
			}
		}

		.upload-item-name {
			font-weight: 600;
			font-size: 14px;
			line-height: 24px;
			letter-spacing: 0.1px;
			color: #666666;
		}

		.upload-item-type {
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 0.25px;
			color: #999999;
		}
	}



	.file-size-info {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		letter-spacing: 0.15px;
		color: $dark-color-3;
	}

	.item-title {
		margin-bottom: 10px;
	}

	.submit-btn {
		font-weight: 600;
		font-size: 16px;
		text-align: center;
		letter-spacing: 0.5px;
		width: 180px;
		height: 48px;
		background: $secondary-design-color;
		border-radius: 4px;
		color: #D1D1D1;
		transition: var(--transition);

		&:hover {
			color: $light-color;
		}
	}
}

.my-profile {
	background-color: #fff;
	border-radius: 5px;
	margin: 30px 0 20px;
}

.password-security {
	background-color: #fff;
	border-radius: 5px;
	margin: 30px 0 20px;
}


.package-wrap {

	font-family: $secondary-font;

	.package {
		.stepform-wrapper {
			overflow-x: hidden;
			display: flex;

			.step {
				min-width: 100%;
				height: 140%;
				padding-top: 100px;
				position: relative;

				.item {
					position: relative;
					background: $secondary-design-color;
					border-radius: 20px;
					height: 480px;
					overflow: hidden;
					margin-bottom: 30px;
					transition: var(--transition);

					&.active {
						transform: scale(1.05);

					}

					.item-header {
						padding: 10px;
						font-weight: 700;
						font-size: 22px;
						line-height: 30px;
						color: #FFFFFF;
						text-transform: uppercase;
						text-align: center;
						border-bottom: 4px solid #fff;
					}

					.item-content {
						padding: 10px;

						.preview-btn {
							font-weight: 600;
							font-size: 18px;
							line-height: 22px;
							text-decoration-line: underline;
							text-transform: uppercase;
							color: #FFFFFF;
						}

						li {
							font-style: normal;
							font-weight: 600;
							font-size: $fs-md;
							text-transform: uppercase;
							line-height: 30px;
							margin-bottom: 24px;
							color: #FFFFFF;
							margin-left: 20px;
							list-style: disc;
						}

						.item-bottom {
							background-color: #fff;
							position: absolute;
							bottom: 0;
							display: flex;
							align-items: center;
							justify-content: center;
							flex-direction: column;
							height: 180px;
							width: 190px;
							right: 0;
							border-radius: 150% 0 20px 0;
							text-align: center;

							.price {
								font-weight: 700;
								font-size: 30px;
								line-height: 45px;
								display: flex;
								align-items: center;
								padding-left: 30px;
								color: $secondary-design-color;

								span {
									color: #fff;
									margin-left: 10px;
									border-radius: 50%;
									width: 28px;
									font-weight: 400;
									height: 28px;
									display: flex;
									align-items: center;
									justify-content: center;
									font-size: 14px;
									background-color: $secondary-design-color;
								}
							}

							.choose-btn {
								width: 143px;
								height: 32px;
								border: 1px solid $secondary-design-color;
								font-size: 13px;
								color: $secondary-design-color;
								text-transform: capitalize;
								border-radius: 20px;
								margin-top: 20px;
								transition: var(--transition);

								&:hover {
									background-color: $secondary-design-color;
									color: $light-color;
								}
							}
						}
					}


				}

				.text {
					margin-bottom: 10px;

					h6 {
						font-size: $fs-lg;
						color: $secondary-design-color;
						font-weight: 700;
						text-transform: uppercase;

					}
				}

				.package-wrap-bottom {
					display: none;

					&.show {
						display: flex;
					}

					.form-group {
						display: flex;
						align-items: center;

						span {
							font-size: $fs-xs;
							line-height: $fs-xl;
							letter-spacing: 0.15px;
							color: #000000;
						}

						label {
							font-weight: 600;
							font-size: 15px;
							line-height: $fs-xl;
							letter-spacing: 0.15px;
							color: #6D6D6D;
							display: flex;
							align-items: center;
							cursor: pointer;

							&.active {
								span {
									background-color: $secondary-design-color;
								}
							}

							span {
								display: flex;
								width: 17px;
								height: 15px;
								margin-right: 3px;
								background-color: transparent;
								border: 2px solid $secondary-design-color;
								border-radius: 6px;
							}
						}

						input[type="radio"] {
							appearance: none;
						}
					}
				}

				.form-confirm-area {
					background-color: $light-color;
					border-radius: 30px;
					height: 480px;
					margin-bottom: 30px;

					position: relative;
					box-shadow: $box-shadow-1;

					.form-content {
						display: flex;
						flex-direction: column;
						height: 480px;
						align-items: center;
						justify-content: center;

						.title {
							font-size: $fs-sm;
							color: #404040;
							font-weight: 500;
							margin-bottom: 30px;
						}

						.form-group {
							margin-bottom: 20px;
							width: 100%;

							.form-control {
								width: 75%;
								margin: 0 auto;
								height: 48px;
								border-radius: 3px;
								border-color: #ddd;
							}

							button {
								margin: auto;
							}
						}
					}

					.success-form-popup {

						position: absolute;
						top: 0;
						width: 100%;
						left: 0;
						background-color: $light-color;
						border-radius: 30px;
						height: 480px;
						margin-bottom: 30px;

						flex-direction: column;
						align-items: center;
						justify-content: center;
						display: none;
						box-shadow: $box-shadow-1;

						&.show {
							display: flex;
						}

						.success-img {
							margin: 0 auto;
							display: flex;
							width: 240px;
							height: 240px;
							align-items: center;
							justify-content: center;

							img {
								margin: 0 auto;
								width: 60%;
							}

							.text {
								color: #767575;
								text-align: center;
								padding: 10px;
							}
						}
					}
				}
			}
		}

	}
}

#profileModal {
	.single-item {
		border-radius: 3px;
		margin-bottom: 30px;

	}
}

.bookmarks {
	padding: 50px 0 20px;
}

.job-page {
	padding: 30px 0 140px;
font-family: $primary-font;
	.card-item {
		background: $light-color;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 20px;
		margin-bottom: 100px;
	}

	.card-item.job {
		padding: 20px;
		display: flex;
		align-items: center;

		.img {
			background: #979797;
			box-shadow: 0px 2.74286px 10.9714px rgba(0, 0, 0, 0.1);
			border-radius: 3.65714px;
			width: 128px;
			background-repeat: no-repeat;
			height: 128px;
			margin-right: 30px;
		}

		.info {
			.title {
				font-size: $fs-xl;
				line-height: 32px;
				letter-spacing: 0.18px;
				color: #333333;
				text-transform: capitalize;
			}

			.about {
				font-weight: 400;
				font-size: 15px;
				line-height: 32px;
				letter-spacing: 0.18px;
				color: #333333;
				text-transform: capitalize;
				margin: 0 0 15px;
			}

			.location {
				font-size: 15px;
				line-height: $fs-xl;
				display: flex;
				align-items: center;
				letter-spacing: 0.15px;
				color: $dark-color-3;
				text-transform: capitalize;

				img {
					margin-right: 6px;
				}
			}
		}
	}

	.job-salary {
		text-align: center;
		padding: 48px 0;
		margin-right: 6px;
		box-shadow: $box-shadow-1;

		.salary {
			font-weight: 800;
			font-size: 26px;
			line-height: $fs-xl;
			letter-spacing: 0.15px;
			color: #888888;
			text-transform: capitalize;
		}

		.amount {
			margin-top: 15px;
			font-weight: 900;
			font-size: 27px;
			line-height: 32px;
			letter-spacing: 0.18px;
			color: $secondary-design-color;
		}
	}

	.job-desc {
		padding: 30px 20px;
		background-color: #F9F9F9;
		box-shadow: $box-shadow-1;

		.title {
			font-weight: 600;
			font-size: 20px;
			line-height: $fs-xl;
			letter-spacing: 0.15px;
			text-transform: capitalize;
			color: #333333;
			margin-bottom: 20px;
		}

		p {
			font-size: $fs-sm;
			line-height: $fs-xl;
			letter-spacing: 0.5px;
			color: rgba(0, 0, 0, 0.87);
			margin-bottom: 30px;
		}
	}

	.job-summary {

		input {
			border-radius: 20px;
		}

		.content {
			box-shadow: $box-shadow-1;

			background-color: #F9F9F9;
			margin-top: 20px;
			border-radius: 3px;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

			.title {
				text-transform: capitalize;
				background: #F0F0F0;
				padding: 15px;
			}

			ul {
				padding: 20px;

				li {
					font-weight: 400;
					font-size: $fs-sm;
					line-height: $fs-xl;
					letter-spacing: 0.15px;
					color: #808080;
					display: flex;
					margin-bottom: 10px;

					.img {
						margin-right: 10px;
					}

					span {
						text-transform: capitalize;
						display: block;
					}

					a {
						text-transform: capitalize;
						font-weight: 400;
						font-size: $fs-sm;
						line-height: $fs-xl;
						letter-spacing: 0.15px;
						color: #333333;
						transition: $transition;

						&:hover {
							color: $secondary-design-color;
						}
					}
				}
			}
		}


	}
}

/**************************************************
                 KEYFRAMES
**************************************************/
@keyframes mercuryTypingAnimation {
	0% {
		transform: translateY(0px);
		background-color: $dark-color-3;
	}

	12% {
		transform: translateY(-4px);
		background-color: rgba(0, 0, 0, 0.4);
	}

	27% {
		transform: translateY(0px);
		background-color: rgba(0, 0, 0, 0.3);
	}
}

@keyframes typing {
	from {
		width: 0
	}

	to {
		width: 100%
	}
}

/* The typewriter cursor effect */
@keyframes blink-caret {

	from,
	to {
		border-color: transparent
	}

	50% {
		border-color: $secondary-design-color;
	}
}