.heading {
	margin: 0 0 40px;

	.bar {
		@include flex-align-between;
		padding: 16px 15px;
		border-radius: 3px;
		background-color: #F2F2F2;

		.turn-field {
			@include flex-align;

			span {
				font-size: $fs-sm;
				color: $dark-color-3;
			}
		}

		.sort-field {
			position: relative;

			.has-child {
				cursor: pointer;
				transition: $transition;

				span {
					font-weight: bold;

					&:hover {
						color: $secondary-design-color;
					}
				}

				i {
					font-size: 13px;

					&.up {
						transform: rotate(180deg);
					}
				}
			}
		}
	}
}

.jobs {
	font-family: $primary-font;
	position: relative;
	background-color: #EDEDED;

	.btn-lg {
		width: 100%;
	}

	.filter-form-wrapper {
		width: 21%;
		padding: 130px 40px 60px 40px;
		min-height: 100vh;

		background-color: #FAFAFA;

		.add-skills {
			input {
				height: 48px;
				background: $light-color;
				border: $border-light;
				border-radius: 20px 0 0 20px;
				border-right: none;
				font-size: $fs-xs;
				color: $dark-color-2;

				&::placeholder {
					font-size: $fs-sm;
					color: $dark-color-5;

				}
			}

			.input-group-text {
				background: $light-color;
				border-radius: 0 20px 20px 0;
				border-left: none;
				padding: 0 .30rem;
			}
		}

		.job-category-dropdown {
			position: relative;

			.job-category-dropdown-btn {
				height: 48px;
				width: 100%;
				background: $light-color;
				border: $border-light;
				@include flex-align-between;
				font-size: $fs-sm;
				color: $dark-color-5;
				padding: 0 20px;
			}

			.drop-down {
				max-height: 250px;
				margin-top: 10px;
				overflow-y: auto;
				border-radius: 5px;
				width: 100%;
				padding: 10px;
				display: none;

				ul {
					li {
						font-size: $fs-md;
						padding: 10px;
					}
				}
			}

		}

		.job-category-dropdown-menu {
			.form-group {
				.switch {
					input {


						&:checked+.slider {

							&:before {
								animation: pulse-primary-2 1.3s;
								background-color: $red-color;
							}
						}

					}
				}

				span {
					font-size: $fs-md;
					color: $dark-color-4;
				}
			}
		}



	}

	.job-list-wrapper {
		width: 79%;
		padding: 40px 30px 60px 30px;
		background-color: #EDEDED;
	}
}

/* Range slider */
.range-container {
	position: relative;
	height: 12px;
	width: 100%;
}

.range-container input[type="range"] {
	position: absolute;
	left: 0;
	top: 0;
}

.result-container {
	display: flex;
	text-align: center;
	justify-content: space-around;
	margin: 15px auto;
	max-width: 165px;
	border-radius: 10px;
	background-color: $dark-color;
	position: relative;
}

.result-container input[type="number"] {
	background-color: transparent;
	border: none;
	outline: none;
	height: 24px;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	margin-right: 3px;
	position: relative;

}

.min-num,
.max-num {
	position: relative;
}

.min-num:after,
.max-num:after {
	position: absolute;
	content: "$";
	width: 20px;
	height: 20px;
	color: #FFFFFF;
	top: 0;
	left: -10px;
}


.result-container input[type="number"]::-webkit-outer-spin-button,
.result-container input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.result-container input[type="number"]:invalid,
.result-container input[type="number"]:out-of-range {
	border: 2px solid #c82323;
	background: $red-color;
}

.range-container input[type="range"] {
	-webkit-appearance: none;
	width: 100%;
}

.range-container input[type="range"]:focus {
	outline: none;
}

.range-container input[type="range"]:focus::-webkit-slider-runnable-track {
	background: $red-color;
}

.range-container input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 1.5px;
	cursor: pointer;
	background: $red-color;
	box-shadow: none;
	border: 0;
	border-radius: 5px;

}

.range-container input[type="range"]::-webkit-slider-thumb {
	position: relative;
	z-index: 2;
	height: 23px;
	width: 23px;
	background: url('../images/Ellipse5.png');
	background-size: cover;
	border: 2px solid $light-color;
	background-repeat: no-repeat;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -12px;
	transition: $transition;
	border-radius: 50%;
}

.range-container input[type="range"]::-webkit-slider-thumb:hover {
	transform: scale(1.1);
}

.range-container input[type="range"]::-moz-range-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	transition: all 0.2s;
	background: $secondary-design-color;
	border-radius: 1px;
	box-shadow: none;
	border: 0;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
}

.range-container input[type="range"]::-moz-range-thumb {
	z-index: 2;
	position: relative;
	box-shadow: 0px 0px 0px #000;
	border: 1px solid $secondary-design-color;
	height: 18px;
	width: 18px;
	border-radius: 25px;
	background: $secondary-design-color;
	cursor: pointer;
}

.range-container input[type="range"]:focus::-ms-fill-lower {
	background: $secondary-design-color;
}

.range-container input[type="range"]:focus::-ms-fill-upper {
	background: $secondary-design-color;
}

.result-container input[type="range"]::-ms-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	transition: all 0.2s;
	background: transparent;
	border-color: transparent;
	color: transparent;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
}

.result-container input[type="range"]::-ms-fill-lower,
.result-container input[type="range"]::-ms-fill-upper {
	background: $secondary-design-color;
	border-radius: 1px;
	box-shadow: none;
	border: 0;
}

.result-container input[type="range"]::-ms-thumb {
	z-index: 2;
	position: relative;
	box-shadow: 0px 0px 0px #000;
	border: 1px solid $secondary-design-color;
	height: 18px;
	width: 18px;
	border-radius: 25px;
	background: $secondary-design-color;
	cursor: pointer;
}