
.job-single {

	.job-single-header {
		padding: 20px;
		border-radius: 20px 20px 0 0;
		background-color: $light-color;
		display: flex;
		align-items: center;

		.company-image {
			width: 40px;
			height: 40px;

			img {
				width: 100%;
				height: auto;
			}
		}

		.company-info {
			margin-left: 15px;

			.company-name {
				color: #808080;
				text-transform: capitalize;
			}

			.job-title {
				color: rgba(0, 0, 0, 0.87);
				font-size: $fs-xl;
				text-transform: capitalize;
				font-weight: 600;
			}
		}
	}

	.job-single-footer {
		background-color: #F9F9F9;
		border-radius: 0 0 20px 20px;
		padding: 20px;
		display: flex;
		flex-wrap: wrap;
		text-transform: capitalize;

		div {
			width: 50%;
			margin-bottom: 7px;

			img {
				margin-right: 10px;
			}

			span {
				color: $dark-color-3;
				font-weight: 500;
			}
		}
	}
}
.heading {
	margin: 0 0 40px;

	.bar {
		display: flex;
		align-items: center;
		padding: 16px 15px;
	
		justify-content: space-between;
		border-radius: 3px;
		background-color: #F2F2F2;

		.turn-field {
			display: flex;
			align-items: center;

			span {
				letter-spacing: 0.15px;
				font-size: $fs-sm;
				color: $dark-color-3;
			}
		}

		.sort-field {
			position: relative;
			.has-child{
				cursor: pointer;
				transition: $transition;
				span{
					&:hover{
						color: $secondary-design-color;
					}
				}
				i{
					&.up{
						transform: rotate(180deg);
					}
				}
			}
		}
	}
}

.jobs {
	padding: 30px 0;
	font-family: $primary-font;
	.add-skills {

		position: relative;
       margin-bottom: 50px;
		.skills-input {
			width: 272px;
			height: 48px;
			background: #FFFFFF;
			border: 1px solid #E1E1E1;
			border-radius: 20px;
			padding-right: 50px;

			&::placeholder {
				font-size: $fs-sm;
				line-height: $fs-xl;
				letter-spacing: 0.15px;
				color: rgba(0, 0, 0, 0.38);
			}
		}

		.btn-xs {
			position: absolute;
			top: 55px;
			border-radius: 50%;
			right: 45px;
		}
	}
	.job-category-dropdown {
		position: relative;
  margin-bottom: 40px ;
		.job-category-dropdown-btn {
			width: 272px;
			height: 48px;
			background: #FFFFFF;
			border: 1px solid #E1E1E1;
			border-radius: 20px;
			display: flex;
			align-items: center;font-weight: 400;
			font-size: $fs-sm;
			line-height: $fs-xl;
			letter-spacing: 0.15px;
			color: rgba(0, 0, 0, 0.38);
			padding: 0 20px;
			justify-content: space-between;
		}

	}
	
	.job-category-dropdown-menu {
		margin-bottom: 30px;
		.form-group {
			margin-bottom: 15px;

			span {
				font-size: $fs-md;
				
				color: rgba(0, 0, 0, 0.87);
			}
		}
	}
	.sub-title {
		margin-bottom: 15px;
	}

	

	.switch {
		input {
			&:checked+.slider {
				background: #EDEFED;
			}
		}
	}

	
}

.range-container {
	position: relative;
	height: 12px;
	width: 100%;
}

.range-container input[type="range"] {
	position: absolute;
	left: 0;
	top: 0;
}

.result-container {
	display: flex;
	text-align: center;
	justify-content: space-around;
	border-radius: 10px;
	background: #000;
	width: 133px;
	margin: 15px auto;

	span {
		color: $light-color;
	}
}

.result-container input[type="number"] {
	background-color: transparent;
	border: none;
	outline: none;
	height: $fs-xl;
	color: $light-color;
	text-align: center;
	font-size: $fs-sm;
	font-weight: 500;
	margin-right: 3px;
	position: relative;


}

.min-num,
.max-num {
	width: 100%;
	position: relative;

	&:after {
		position: absolute;
		content: "$";
		width: 20px;
		height: 20px;
		color: $light-color;
		top: 0;
		left: 0;
	}
}

.result-container input[type="number"]::-webkit-outer-spin-button,
.result-container input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.range-container input[type="range"] {
	// -webkit-appearance: none;
	width: 100%;
}

.range-container input[type="range"]:focus {
	outline: none;
}

.range-container input[type="range"]:focus::-webkit-slider-runnable-track {
	background: $secondary-design-color;
}

.range-container input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: $secondary-design-color;
	box-shadow: none;
	border: 0;
	border-radius: 5px;
}

.range-container input[type="range"]::-webkit-slider-thumb {
	position: relative;
	z-index: 2;
	height: 20px;
	width: 20px;
	background: url('../images/airplay.png');
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -8px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	border-radius: 50%;
	position: relative;
}


.range-container input[type="range"]::-moz-range-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	transition: all 0.2s;
	background: #fff;
	border-radius: 1px;
	box-shadow: none;
	border: 0;
}

.range-container input[type="range"]::-moz-range-thumb {
	z-index: 2;
	position: relative;
	box-shadow: 0px 0px 0px #000;
	border: 1px solid $primary-design-color;
	height: 13px;
	width: 13px;
	border-radius: 25px;
	background: $primary-design-color;
	cursor: pointer;
}

.range-container input[type="range"]:focus::-ms-fill-lower {
	background: $primary-design-color;
}

.range-container input[type="range"]:focus::-ms-fill-upper {
	background: $primary-design-color;
}

.result-container input[type="range"]::-ms-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	transition: all 0.2s;
	background: transparent;
	border-color: transparent;
	color: transparent;

}

.result-container input[type="range"]::-ms-fill-lower,
.result-container input[type="range"]::-ms-fill-upper {
	background: $primary-design-color;
	border-radius: 1px;
	box-shadow: none;
	border: 0;
}

.result-container input[type="range"]::-ms-thumb {
	z-index: 2;
	position: relative;
	box-shadow: 0px 0px 0px #000;
	border: 1px solid $primary-design-color;
	height: 13px;
	width: 13px;
	border-radius: 25px;
	background: $primary-design-color;
	cursor: pointer;
}