
.general-footer {
	background-color: #323232;

	.footer-top {
		border-bottom: 1px solid #484848;

		.social-links {
			display: flex;
			border-left: 1px solid #484848;
			align-items: center;
			padding: 20px 30px;

			i {
				color: #989898;
				margin-right: 13px;
				font-size: $fs-sm;
				transition: var(--transition);

				&:hover {
					color: #ffff;
				}
			}
		}

		.lang-drop {
			padding: 20px 30px;
			border-left: 1px solid #484848;

			.drop-item {
				background: #444444;
				padding: 10px $fs-sm;
				color: #fff;
				border-radius: 4px;
				cursor: pointer;
				font-size: 15px;

				i {
					margin-left: 15px;
					font-size: $fs-xs;
				}
			}
		}
	}

	.footer-middle {
		padding: 50px 0;

		.footer-column {
			.footer-column-title {
				text-transform: capitalize;
				font-size: 20px;
				line-height: $fs-xl;
				letter-spacing: 0.15px;
				color: #FFFFFF;
			}
		}

		.footer-nav-list {
			.nav-link {
				font-weight: 400;
				font-size: $fs-sm;
				line-height: $fs-xl;
				letter-spacing: 0.15px;
				color: #C0C0C0;
				display: inline-block;
				margin-top: 10px;
				transition: var(--transition);

				&:hover {
					color: #ffff;
				}
			}
		}

		.text {
			font-weight: 400;
			font-size: $fs-sm;
			line-height: $fs-xl;
			letter-spacing: 0.15px;
			color: #C0C0C0;
			display: inline-block;
			margin-top: 10px;
		}

		.form-field {
			.form-row {
				position: relative;
			}

			.form-control {
				border-radius: 20px;
				background-color: #262626;
				border: none;
				font-size: 15px;
				color: #fff;
				padding-left: 14px;
				height: 48px;
				width: 300px;
				margin-top: 30px;

				&::placeholder {
					font-weight: 400;
					font-size: $fs-sm;
					line-height: $fs-xl;
					letter-spacing: 0.15px;
					color: rgba(255, 255, 255, 0.38);
				}
			}

			button {
				width: 48px;
				height: 48px;
				border-radius: 20px;
				background-color: $secondary-design-color;
				right: 0;
				top: 0;
				color: #fff;
				position: absolute;
				transition: var(--transition);

				&:hover {
					background-color: #0094FF;
					transform: scale(1.04);
				}
			}
		}
	}

	.footer-bottom {
		.text {
			border-top: 1px solid #484848;
			text-align: center;
			font-weight: 400;
			font-size: $fs-sm;
			line-height: $fs-xl;
			letter-spacing: 0.15px;
			color: #C0C0C0;
			padding: 20px 0;
		}
	}
}