.job-single {
    font-family: $primary-font;
    transition: $transition;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.09);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: $light-color;

    &.premium {
        border: 4px solid $secondary-design-color;

        .company-image {
            position: relative;

            &:after {
                position: absolute;
                content: "";
                top: -18px;
                right: -15px;
                width: 35px;
                height: 30px;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url("../images/game-icons_crown.png");
            }
        }
    }

    &:hover {
        box-shadow: $box-shadow-3;
        transform: translateY(-5px);
    }

    .job-single-header {
        padding: 20px;
        background-color: $light-color;
        display: flex;
        align-items: center;

        .company-image {
            width: 56px;
            height: 56px;

            img {
                width: 100%;
                height: auto;
            }
        }

        .company-info {
            margin-left: 15px;

            .company-name {
                color: #808080;
                letter-spacing: .7px;
                text-transform: capitalize;
            }

            .job-title {
                color: rgba(0, 0, 0, 0.87);
                font-size: $fs-xl;
                text-transform: capitalize;
                font-weight: 600;
            }
        }
    }

    .job-single-footer {
        background-color: #F9F9F9;
        padding: 15px 20px 0;
        display: flex;
        flex-wrap: wrap;
        text-transform: capitalize;
        position: relative;

        .save-job {
            width: 100%;
            position: absolute;
            right: 0;
            margin-bottom: 0;
            bottom: 0;

            .hidden {
                display: none;
            }

            img {
                position: absolute;
                bottom: 0px;
                right: 12px;

            }
        }

        div {
            width: 50%;
            margin-bottom: 12px;
            font-size: $fs-md;
            color: $dark-color-3;

            img {
                margin-right: 10px;
            }

            span {
                color: $dark-color-3;
                font-weight: 500;
            }
        }
    }
}

.active-jobs-content {
    .active-job-single {
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.09);
        transition: $transition;
        border-radius: 20px;

        &:hover {
            transform: translateY(5px);
            box-shadow: $box-shadow-1;
        }

        .active-job-single-header {
            padding: 20px;
            border-radius: 20px 20px 0 0;
            background-color: $light-color;
            display: flex;
            align-items: center;

            span {
                transition: $transition;

                &:hover {
                    color: $secondary-design-color;
                }
            }

            .company-image {
                width: 40px;
                height: 40px;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .company-info {
                margin-left: 15px;

                .company-name {
                    color: #808080;
                    text-transform: capitalize;
                }

                .job-title {
                    color: rgba(0, 0, 0, 0.87);
                    font-size: $fs-xl;
                    text-transform: capitalize;
                    font-weight: 600;
                }
            }
        }

        .active-job-single-footer {
            background-color: #F9F9F9;
            border-radius: 0 0 20px 20px;
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
            text-transform: capitalize;

            div {
                width: 50%;
                margin-bottom: 7px;

                img {
                    margin-right: 10px;
                }

                span {
                    color: $dark-color-3;
                    font-weight: 500;

                    &:hover {
                        color: $secondary-design-color;
                    }
                }
            }
        }
    }
}
.progress{
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid ;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 4px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    font-size: 1px;
    color: #d10b4f;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.progress.blue .progress-bar{
    border-color: #ECA400;
}
.progress.blue .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}






@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}
