@media screen and (max-width:1400px) {
    .sitetoolbar {
        .lang {
            .preview-lang {
                font-size: $fs-md;

                img {
                    width: 21px;
                    height: 21px;
                }
            }
        }

        .sitetoolbar-actions {

            .sitetoolbar-login,
            .sitetoolbar-signup {
                font-size: $fs-md;
            }
        }
    }

    .banner {
        .right {
            .text {
                .main-text {
                    font-size: 17px;
                }
            }

        }

        .counter {
            .count-item {

                .counter-count {
                    font-size: $fs-xl;
                }
            }
        }
    }

    .about-us {
        .top-text {
            p {
                font-size: $fs-xxl;
            }
        }

        .bottom-text {
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            position: relative;

            &:after {
                width: 130px;
                height: 130px;
            }

            h4 {
                font-size: 90px;
                line-height: 130px;

            }
        }
    }

    .jobs {
        .filter-form-wrapper {
            padding: 60px 15px 0 15px;
        }

        .job-list-wrapper {
            padding: 40px 15px 60px 15px;
            background-color: #EDEDED;
        }
    }

    .job-single {

        .job-single-header {
            padding: 13px;

            .company-image {
                width: 46px;
                height: 46px;
            }

            .bdg {
                font-size: 12px;
            }

            .company-info {
                margin-left: 10px;

                .company-name {
                    font-size: 14px;
                }

                .job-title {
                    font-size: $fs-lg;
                }
            }
        }

        .job-single-footer {
            padding: 10px 10px 0;

            .save-job {
                img {
                    width: 18px;
                }
            }

            ul {
                li {
                    font-size: $fs-sm;

                    img {
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    .item {
        .item-content {
            li {
                margin-left: 10px;
            }
        }
    }

    .applicants {
        .filter-form-wrapper {
            padding: 50px 15px 60px 15px;
        }

        .applicants-wrapper {
            padding: 40px 15px 60px 15px;
            background-color: #EDEDED;
        }
    }
}

@media screen and (max-width:1200px) {
    .sitetoolbar {
        .lang {
            .preview-lang {
                font-size: $fs-xs;

                img {
                    width: 19px;
                    height: 19px;
                }
            }
        }

        .sitetoolbar-actions {

            .sitetoolbar-login,
            .sitetoolbar-signup {
                font-size: $fs-xs;
            }
        }
    }

    .banner {
        .left {
            p {
                font-size: $fs-lg;
                line-height: 30px;
            }

        }
    }

    .advantages {
        .col-lg-4 {
            @include flex-align-center;

            &:nth-child(2) {
                .single-item {
                    transform: none;
                }
            }

            .single-item {
                padding: 40px 35px;
                max-width: 400px;
                height: auto;

                .title {
                    font-size: $fs-xl;
                }

                p {
                    font-size: $fs-md;
                }

                .image {
                    margin: 0 auto 20px;

                    img {
                        width: 150px;
                    }
                }
            }

        }
    }

    .upload-items {
        ul {
            .upload-item {
                width: 140px;
            }
        }
    }

    .jobs {
        .sidebar-btn {
            display: none;
        }

        .filter-form-wrapper {
            width: 28%;
        }

        .job-list-wrapper {
            width: 65%;
        }
    }

    .applicants {
        .filter-form-wrapper {
            width: 28%;
        }

        .job-list-wrapper {
            width: 65%;
        }
    }
}

@media screen and (max-width:992px) {
    .sitetoolbar {
        .open-menu {
            display: flex;
            cursor: pointer;
        }

        .sitetoolbar-actions {
            z-index: 23333333;
            position: absolute;
            top: 55px;
            box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.09);
            right: 10px;
            border-radius: 3px;
            width: 120px;
            background-color: $light-color;
            display: flex;
            flex-direction: column;
            transform: translateY(10px);
            opacity: 0;
            visibility: hidden;
            transition: $transition;

            &:after {
                content: "\f0d8";
                position: absolute;
                top: -2px;
                right: 20px;
                line-height: 0;
                font-family: FontAwesome;
                font-size: 26px;
                color: #fff;
                box-shadow: $box-shadow-1;
            }

            &.show {
                transform: translateY(20px);
                opacity: 1;
                visibility: visible;
            }

            .lang {
                display: none;

            }

            .sitetoolbar-login,
            .sitetoolbar-signup {
                padding: 8px;
            }
        }
    }

    .advantages {
        padding-bottom: 0;

        .col-md-4 {
            @include flex-align-center;

            &:nth-child(2) {
                .single-item {
                    transform: none;
                }
            }
        }
    }

    .about-us {
        .top-text {
            p {
                font-size: $fs-xxl;
            }
        }

        .bottom-text {

            h4 {
                font-size: 70px;
                line-height: 130px;

            }
        }

        .explore-btn {
            font-size: $fs-xl;
        }
    }

    .applied-jobs {

        .applied-jobs-container {
            width: 100%;
            overflow-y: auto;
            &::-webkit-scrollbar {
                height: 4px;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background-color: $red-color;
            }
            .applied-jobs-table {
                min-width: 700px;
            }
        }
    }
    .freelancer-profile {
        .behance-account-link {
            margin-bottom: 30px;
        }

        .copy-link {
            margin: 20px 0;
        }
    }
    .conversation-content-wrap {
        .chat-wrapper {
            padding: 10px;
            display: none;
            overflow-x: hidden;
            position: absolute;
            top: 0;
            width: 100%;
            left: 0;
            background-color: $light-color;
            z-index: 999;
        }
    }

    #header-global {
        .header-actions {
            justify-content: flex-end;
        }
    }

    .applicants {
        .sidebar-btn {
            display: block;
        }

        .applicants-wrapper {
            width: 90%;
            margin: 0 auto;
        }
    }

    .jobs {
        .sidebar-btn {
            display: block;
        }

        .filter-form-wrapper {
            display: none;
        }

        .job-list-wrapper {
            width: 80%;
            margin: 0 auto;
        }

    }

    .upload-items {
        ul {
            .upload-item {
                width: 180px;

            }
        }
    }
}

@media screen and (max-width:767px) {
    .banner {
        .left {
            text-align: center;

        }

        .right {
            .image-content {
                @include flex-align-center;

                .image {
                    width: 180px;
                }
            }

            .text {
                .main-text {
                    font-size: 16px;
                    padding: 15px;
                }
            }
        }

        .counter {
            justify-content: center;
            margin-top: 30px;
        }
    }

    .advantages {
        padding-top: 40px;
    }

    .about-us {
        .top-text {
            p {
                font-size: $fs-xl;
                line-height: 35px;
            }
        }

        .bottom-text {

            &:after {
                width: 100px;
                height: 100px;
            }

            h4 {
                font-size: 50px;
                line-height: 90px;

            }
        }

        .explore-btn {
            font-size: $fs-xl;
        }
    }

    #header-global {
        .header-logo {
            justify-content: flex-start;

            a {
                width: 42px;
                height: 42px;
                font-size: 14px;
            }
        }

        .header-actions {
            .profile-content {
                .profile-image {

                    width: 40px;
                    height: 40px;

                }
            }
        }
    }

    .popup {
        width: 500px;

        .popup-title {
            font-size: 27px;
            margin-bottom: 15px;
        }

        .btn-xl {
            font-size: 16px;
        }
    }

    .job-single {
        .job-single-header {
            .company-info {
                .job-title {
                    font-size: 20px;
                }
            }
        }

        .job-single-footer {
            padding: 15px;
        }

    }

    .profile-image {
        width: 80px;
        height: 80px;
    }

    .employees {
        .single-item {
            .profile-info {
                .fullname {
                    font-size: 18px;
                }

                .job {
                    font-size: 15px;
                }
            }

            .single-item-header {
                span {
                    &.pr {
                        font-size: 15px;
                    }
                }
            }

            &.premium-single-item {
                .single-item-header {
                    .profile-image {
                        &:after {
                            width: 45px;
                        }
                    }
                }
            }
        }
    }

    .upload-items {
        ul {
            justify-content: flex-start;

            .upload-item {
                margin-right: 10px;

            }
        }
    }

    .jobs {
        .job-list-wrapper {
            width: 100%;
        }

    }

    .applicants {

        .applicants-wrapper {
            width: 100%;
        }
    }
    .applied-jobs {
        .applied-jobs-container {
            border-radius: 5px !important;
        }

        .heading {
            .bar {
                height: auto !important;
            }
        }
    }

    .recruiter-profile {
        .recruiter-main-info {
            .edit-content {
                margin: 30px 0 30px;
            }
        }

        .active-jobs-content {
            .active-job-single {
                .active-job-single-header {
                    .company-info {
                        .job-title {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    .profile-section {
        .profile-info {
            padding: 30px 0 0 30px;
            height: auto;
        }
    }

    .conversation-content-wrap {
        .chat-wrapper {
            .chat-header {
                flex-direction: column;

                .chat-header-title {
                    margin-bottom: 10px;
                }
            }

            .read-msg-area {

                .read-msg-controls {
                    .send-file {
                        margin: 0 20px;

                    }

                    .msg-send {
                        height: 40px;
                        width: 55px;

                        span {
                            display: none !important;
                        }

                        i {
                            display: block !important;
                        }
                    }
                }
            }
        }
    }

    .employees {
        .pagination {
            .page-item {
                .page-link {
                    width: 35px;
                    font-size: 14px;
                    height: 35px;
                }
            }
        }
    }

    .job-page {
        padding: 20px 0;
    }
}

@media screen and (max-width:575px) {
    .profile-section {
        .profile-info {
            .right-info {
                .full-name {
                    font-size: 20px;
                }

                .company-job {
                    font-size: 14px;
                    margin: 10px 0;
                }
            }
        }

        .feedback-content {
            .speeker-job {
                font-size: 20px;
            }

            .date {
                span {
                    right: 0;
                }
            }
        }
    }

    .copyright-wrap {
        text-align: center;

        .text {
            font-size: $fs-sm;
            color: $dark-color-3;
        }

        .social-links {
            margin-top: 20px;
            justify-content: center;
        }
    }

    .heading {
        .bar {
            flex-direction: column;
            height: auto;
        }
    }

    .subscription {
        .subscription-title {
            font-size: 25px;
            margin: 20px 0;
        }

        .subscription-info {
            p {
                font-size: 18px;
            }
        }
    }

    .conversation-content-wrap {
        .chat-wrapper {
            .chat-header {
                flex-direction: column;

                .chat-header-title {
                    margin-bottom: 10px;
                }
            }

            .chat-body {
                .chat-list {
                    padding: 10px;
                }
            }

            .read-msg-area {
                .form-field {
                    flex-direction: column;

                    textarea {
                        background-color: #eee;
                    }
                }

                .read-msg-controls {
                    justify-content: flex-start;
                    width: 100%;
                    margin-top: 18px;
                }

            }
        }
    }
    #header-global {
        .header-actions {
            .notification-btn-group {
                .message-content {
                    .drop-message{
                       right: -130px;
                    }
                }
               .notification-content{
                .drop-notification{
                    right: -90px;
                }
               }
            }
        }
    }
}

// @media screen and (max-width:575px) {

//     .banner {

//         .right {
//             .text {
//                 .main-text {
//                     &:after {
//                         content: none;
//                     }
//                 }
//             }

//             .join-btn-group {
//                 a {
//                     font-size: 12px;
//                     text-transform: capitalize;
//                     padding: 6px;

//                 }
//             }
//         }

//     }

//     .about-us {
//         padding-top: 30px;

//         .top-text {
//             p {
//                 font-size: $fs-lg;
//                 line-height: 35px;
//             }
//         }

//         .bottom-text {

//             &:after {
//                 width: 80px;
//                 height: 80px;
//             }

//             h4 {
//                 font-size: 42px;
//                 line-height: 70px;

//             }
//         }

//         .explore-btn {
//             font-size: $fs-xl;
//         }
//     }

//     #header-global {

//         .header-actions {

//             .notification-btn-group {
//                 .message-content {
//                     .drop-message {
//                         right: -135px;

//                     }
//                 }

//                 .notification-content {
//                     .drop-notification {
//                         right: -90px;
//                     }


//                 }
//             }

//             .profile-content {
//                 .profile-image {
//                     width: 48px;
//                     height: 48px;
//                     margin: 20px auto;
//                     border-radius: 50%;
//                     background-color: #C4c4c4;
//                     cursor: pointer;
//                     background-size: cover;
//                     background-position: center;
//                     position: relative;
//                 }

//                 .profile-sidebar {
//                     background-color: $light-color;
//                     width: 320px;
//                     border-radius: 5px;
//                     box-shadow: $box-shadow-3;
//                     position: absolute;
//                     top: 82px;
//                     right: 15px;
//                     z-index: 9;
//                     transform: translateY(20px);
//                     opacity: 0;
//                     visibility: hidden;
//                     transition: $transition;

//                     &.show {
//                         opacity: 1;
//                         visibility: visible;
//                         transform: translateY(0);
//                     }

//                     .sidebar-header {
//                         padding: 0 20px;
//                         border-bottom: $light-color;
//                         @include flex-align;

//                         .profile-image {
//                             width: 67px;
//                             margin-right: 20px;
//                             height: 67px;

//                             .persent {
//                                 position: absolute;
//                                 top: 50%;
//                                 left: 50%;
//                                 transform: translate(-50%, -50%);
//                                 color: #fff;
//                                 font-size: 15px;
//                             }
//                         }

//                         .fullname {
//                             font-weight: 600;
//                             font-size: $fs-lg;
//                             color: $dark-color-4;
//                         }

//                         .link {
//                             font-size: $fs-sm;
//                             text-decoration-line: underline;
//                             color: $yellow-1;
//                             text-transform: capitalize;
//                         }
//                     }

//                     .sidebar-body {
//                         padding: $p-20;

//                         li {
//                             a {

//                                 font-size: $fs-sm;
//                                 text-transform: capitalize;
//                                 color: $dark-color-4;
//                                 @include flex-align;
//                                 margin-bottom: 15px;

//                                 img {
//                                     margin-right: 8px;
//                                 }
//                             }
//                         }
//                     }
//                 }

//             }
//         }

//         .open-menu {
//             color: $secondary-design-color;
//             cursor: pointer;
//             @include flex-align;
//             height: 100%;

//         }
//     }

//     .popup {
//         width: 350px;
//         text-align: center;

//         .popup-title {
//             font-size: 22px;
//             margin-bottom: 15px;
//         }

//         .btn-xl {
//             width: 270px;
//         }
//     }

//     .copyright-wrap.mt-45 {
//         margin-top: 0;
//     }

//     .error-page {
//         img {
//             max-width: 250px;
//         }

//         strong {
//             font-size: $fs-xl;
//         }
//     }

//     .subscription {
//         .subscription-info {

//             .btn-lg {
//                 height: auto;
//             }
//         }
//     }